<div class="card" style="width: 22rem;">
  <img [src]="itemUrl" class="card-img-top" alt="penguin" width="150" height="200">
  <div class="card-body">
    <h3 class="card-title"><b>{{itemName}}</b></h3>
    <h5>Carton price :- $ {{itemCartonPrice}}</h5>
    <h5>Unit Price   :- $ {{itemUnitPrice}}</h5>
    <small class="card-text">If you purchase 3 carton or more than 3 you will receive 10% discount off carton price</small>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="exampleInputEmail1">Carton Amount</label>
        <input class="form-control" type="number" [(ngModel)]="cartonAmount" name="cartonAmount" min="0">
      </div>
      <div class="col-sm-6 form-group">
        <label for="exampleInputEmail1">Unit Amount</label>
        <input class="form-control" type="number" [(ngModel)]="unitAmount" name="unitAmount" min="0">
      </div>
    </div>
    <button class="btn btn-primary pull-right" (click)="sendDetails()">Add to Cart</button>
  </div>
</div>
